name: "Choreon - Pipeline"

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:

  extract_version:
    name: Extract Version
    runs-on: ubuntu-latest
    outputs:
      ref_name: $
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version
        id: extract_ref
        run: |
          echo "ref_name=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

  deploy:
    name: Deploy service
    runs-on: ubuntu-latest
    needs: extract_version
    if: github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: setup-tools
        uses: buildpacks/github-actions/setup-tools@v5.1.0
      - id: setup-pack
        uses: buildpacks/github-actions/setup-pack@v5.1.0

      - name: Install Dependencies
        run: |
          sudo apt-get update -y && sudo apt-get install -y curl
          curl -fsSL https://public.choreon.dev/artifacts/choreon-cli/install.sh | bash

      - name: Deploy
        env:
          CHOREON_TOKEN: ${{ secrets.CHOREON_TOKEN }}
        run: choreon service deploy
